body{
    font-family: Arial, sans-serif;
    background: linear-gradient(blue,darkblue);
    display: grid;
    place-items: center;
}

header,form,footer,table{
    background-color: white;
    border-style: 1;
    margin: 10px;
    width: 90%;
    padding: 20px;
    display:block;
    border-radius: 22px;
}

h1{
    display: grid;
    place-items: center;
    color: #0F2995;
}

.button {
    margin: 10px 0; /* 10px de espacio arriba y abajo, ajusta según tus necesidades */
    background-color: blue;
    color:white;
}

table{
    display: grid;
    place-items: center;
}

th,td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

tr{
    background-color: #f2f2f2;
}

th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #2144DF;
    color:white;
}

